/* Estilos de registrar producto */

.registerContainer {
    width: 100%;    
    height: 100%;

    padding: 30px;
    text-align: center;

    line-height: 2.5;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;

}

.registerContent{
    width: 90%;
    min-height: 60%;

    padding: 40px;
    text-align: start;
    color:#ffff;
    /* background-color: rgba(0, 0, 0, 0.02); */
    border-radius: 8px;
    border: 1.5px dashed rgb(217, 217, 217);
    margin-top: 16px;

    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    gap:25px;

}

.resultContainer{
    background-color: var(--color-bkg);
    border-radius: 10px;
    padding: 20px; 

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    cursor: pointer;

}

@media (min-width:300px) and (max-width:1000px){
    .registerContainer{
        line-height: 1.5;
        padding: 20px;
    }
}
