/* Inventarios component styles */
.Inventarios{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 10px 20px; 
    grid-template-areas: 
        "LeftColumn LeftColumn InvtInfo InvtInfo InvtInfo"
        "LeftColumn LeftColumn InvtInfo InvtInfo InvtInfo"
        "LeftColumn LeftColumn InvtInfo InvtInfo InvtInfo"
    ;
}


.Inventarios .LeftColumn{
    grid-area: LeftColumn;
}

.Inventarios .InvtInfo{
    grid-area: InvtInfo;
    /* background-color: var(--main-background-color); */
    padding:50px;
}

